&EPIC

 field_file     = 'dummy.nc'

 !
 ! output info
 !


 output%field_freq   = 20

 output%parcel_freq  = 60

 output%parcel_stats_freq  = 1

 output%field_stats_freq   = 1

 output%write_fields = .true.

 output%write_parcels = .true.

 output%write_parcel_stats = .true.

 output%write_field_stats  = .true.

 output%overwrite    = .true.

 output%basename     = 'EPIC_A70envbub_10m_homog_quant_mu160_pert'

 !
 ! parcel info
 !

 parcel%n_per_cell   = 9

 parcel%lambda_max   = 4.0

 parcel%min_vratio = 40.0

 parcel%max_vratio = 2.89

 parcel%correction_iters = 2

 parcel%gradient_pref = 1.8

 parcel%max_compression = 0.5

 !
 ! stepper info
 !
 time%limit         = 1000

 time%alpha         = 0.2

 time%precise_stop  = .true.

 !
 ! microphysics info
 !
 microphysics%l_precipitation = .true.
 microphysics%l_precipitation_file = .true.
 microphysics%l_sedimentation = .true.
 microphysics%l_single_droplet_size = .true.
 microphysics%l_evaporation = .true.
 microphysics%l_loading = .true.
 microphysics%microphysics_size_factor = 8
 microphysics%l_homogeneous = .true.
 microphysics%prec_file = '1g60000_rain_percentiles_sym_160_perturbed.nc' 
/
